In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\Lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
users.shape

(278858, 3)

In [8]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [9]:
ratings.shape

(1149780, 3)

In [10]:
books.rename(columns = {'Book-Title':'Title', 'Book-Author':'Author', 'Year-Of-Publication':'Year', 'Publisher':'Publisher' }, inplace=True)
users.rename(columns = {'User-ID':'User_id', 'Location':'location', 'Age':'age'}, inplace=True)
ratings.rename(columns = {'User-ID':'User_id', 'Book-Rating':'Rating'}, inplace=True)

In [11]:
# finding the users who read most books and give ratings

In [12]:
x = ratings['User_id'].value_counts() > 200
x

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
271728    False
245123    False
234886    False
259466    False
187812    False
Name: User_id, Length: 105283, dtype: bool

In [13]:
common_users = x[x].index

In [14]:
common_users.shape

(899,)

In [15]:
new_ratings = ratings[ratings['User_id'].isin(common_users)]

In [16]:
new_ratings.shape

(526356, 3)

In [17]:
ratings_with_books = new_ratings.merge(books, on = 'ISBN')

In [18]:
ratings_with_books.head()

,User_id,ISBN,Rating,Title,Author,Year,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...

In [19]:
ratings_with_books.drop(['Image-URL-S','Image-URL-L'], axis=1, inplace=True)

In [20]:
ratings_with_books.shape

(487671, 8)

In [21]:
# counting number of ratings given on each book

In [22]:
num_ratings = pd.DataFrame(ratings_with_books.groupby('Title')['Rating'].count().sort_values(ascending=False))
num_ratings.rename(columns = {'Rating' : 'no of ratings'}, inplace=True)

In [23]:
num_ratings.head()

                           no of ratings
Title
Wild Animus                          363
Bridget Jones's Diary                277
The Lovely Bones: A Novel            270
The Notebook                         241
The Pelican Brief                    236

In [24]:
num_ratings['Avg Rating'] = pd.DataFrame(ratings_with_books.groupby('Title')['Rating'].mean())

In [25]:
num_ratings.head()

                           no of ratings  Avg Rating
Title
Wild Animus                          363    0.438017
Bridget Jones's Diary                277    2.664260
The Lovely Bones: A Novel            270    3.203704
The Notebook                         241    2.070539
The Pelican Brief                    236    1.978814

In [26]:
num_ratings.shape

(160269, 2)

In [27]:
popular_books = num_ratings[num_ratings['no of ratings'] > 50]

In [28]:
popular_books = popular_books.sort_values('Avg Rating', ascending=False)

In [29]:
popular_books.head(10)

                                                    no of ratings  Avg Rating
Title
The Little Prince                                              53    5.207547
Harry Potter and the Sorcerer's Stone (Book 1)                 78    4.833333
84 Charing Cross Road                                          54    4.740741
Harry Potter and the Prisoner of Azkaban (Book 3)             138    4.528986
Harry Potter and the Goblet of Fire (Book 4)                  125    4.480000
The Secret Garden                                              79    4.240506
Harry Potter and the Order of the Phoenix (Book 5)            105    4.180952
A Wrinkle in Time                                              76    3.947368
Harry Potter and the Chamber of Secrets (Book 2)              183    3.934426
The Two Towers (The Lord of the Rings, Part 2)                 81    3.827160

In [30]:
final_data = ratings_with_books[ratings_with_books['Title'].isin(popular_books.index)].reset_index()

In [31]:
final_data.shape

(59903, 9)

In [32]:
final_data.head()

,index,User_id,ISBN,Rating,Title,Author,Year,Publisher,Image-URL-M
0,0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [33]:
final_data.drop('index', axis=1, inplace=True)

In [34]:
final_data.head()

,User_id,ISBN,Rating,Title,Author,Year,Publisher,Image-URL-M
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [35]:
final_data.drop_duplicates(['User_id', 'Title'], inplace = True)

In [36]:
final_data.shape

(57952, 8)

In [37]:
book_pivot = final_data.pivot_table(index='Title', columns='User_id', values = 'Rating')

In [38]:
book_pivot.fillna(0, inplace=True)

In [39]:
book_pivot

User_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
sim_scores = cosine_similarity(book_pivot)
sim_scores.shape

(703, 703)

In [47]:
def recommend(book_name) :
    #fetch index of book
    index = np.where(book_pivot.index == book_name)[0][0]
    sim_items = sorted(list(enumerate(sim_scores[index])), key=lambda x: x[1], reverse = True)[1:6]
    
    for i in sim_items :
        print(book_pivot.index[i[0]])

In [48]:
recommend('1984')

Animal Farm
The Handmaid's Tale
The Catcher in the Rye
Lord of the Flies
The Vampire Lestat (Vampire Chronicles, Book II)

In [49]:
recommend('Harry Potter and the Chamber of Secrets (Book 2)')

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Order of the Phoenix (Book 5)

In [51]:
recommend('The Two Towers (The Lord of the Rings, Part 2)')

The Fellowship of the Ring (The Lord of the Rings, Part 1)
The Return of the King (The Lord of the Rings, Part 3)
Charlotte's Web (Trophy Newbery)
The Hobbit : The Enchanting Prelude to The Lord of the Rings
It Was on Fire When I Lay Down on It

In [52]:
import pickle

In [53]:
pickle.dump(final_data, open('books_list.pkl', 'wb'))
pickle.dump(book_pivot, open('books_pivot.pkl', 'wb'))
pickle.dump(sim_scores, open('sim_scores.pkl', 'wb'))